    #card-page{
       
        margin-left: -20px;
        display: inline-flex;
        float: left;
        /* width:100% */
    }
    #filtered-card-page{
        margin-top: 10px;
        margin-left: 250px;
    }
    #spaceX-launch-programs-filters{
     
        display: inline-flex;
       
    }
    #spacex-launchSuccess-id{
        display: inline-flex;
        margin-left: 30px;
        
    }
    #spacex-landSuccess-id{
        display: inline-flex;
        margin-left: 30px;
    }
   
    #filter-card-main-page{
        display: inline-flex;
        width:100%
    }
    @media screen and (max-width: 1024px) {
        #filter-card-main-page {
          width: 115%;
        }
      }
      @media screen and (max-width: 600px) {
        #filter-card-main-page {
            display: inline-block;
          width: 100%;
          margin-left: 35px;
        }
      }
      @media screen and (max-width: 1440px) {
        #filter-card-main-page {
           align-content: center;
        }
      }
      #spaceX-launch-programs-filter-options{
          display: inline-flex;
          width:100%
      }
      @media screen and (max-width: 600px) {
        #spaceX-launch-programs-filter-options {
            /* display: inline-block;
          width: 100%; */
          width:100%;
          margin-left: -18px;
        }
      }
      @media screen and (max-width: 1024px) {
        #spaceX-launch-programs-filter-options {
            /* display: inline-block;
          width: 100%; */
          width: 115%;
          /* margin-left: -20px; */
        }
      }
      @media screen and (max-width: 1440px) {
        #spaceX-launch-programs-filter-options {
           align-content: center;
        }
      }
.all-Response{
    margin-left: -50px;
}
/* @media screen and (max-width: 1024px) {
   .all-Response {
     
      width:100%;
      display: flex;
      margin-left: -18px;
    }
  } */
    .filer-name{
        background-color: white;
        font-size: 25px;
        margin-top: 8px;
    }
    
    .filter-options{
        background-color: white;
        width:100px;
        padding: 0px;
        display: inline;
    }
    
    .launch-year{
        background-color: white;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 8px;
    }
    .successful-launch{
        background-color: white;
        text-align: center;
        margin-bottom: 8px;
    }
    .successful-land{
        background-color: white;
        text-align: center;
        margin-bottom: 8px;
    }
    .button_name1{
        width:60px;
        background-color: rgb(207, 238, 144);
        border-radius: 4px;
        display: inline-flex;
        margin: 0.7em;
    }
    .button_name1:hover{
        background-color: rgb(53, 180, 108);
    }
   
    .launchButton_name{
        width:60px;
        /* margin-right: -5px; */
        background-color: rgb(207, 238, 144);
        border-radius: 4px;
        margin: 0.7em;
        /* color: lawngreen; */
        /* padding-left: 0rem; */
        display: inline-flex;
    }
    .launchButton_name:hover{
        background-color: rgb(53, 180, 108);
    }
    .launch-link{
        background-color: rgb(207, 238, 144);
        width: 10px;
    }
    .launch-link:hover{
        
        background-color: rgb(53, 180, 108);
    }
    .landButton_name{
        width:60px;
        
        background-color:rgb(207, 238, 144);
        border-radius: 4px;
        margin: 0.7em;
        display: inline-flex;
    }
    .landButton_name:hover{
        background-color: rgb(53, 180, 108);
    }
    .filter-card-header{
        background-color: white;
        font-size: 15px;
        text-align: start;
        font-weight: bold;
        margin-top:-20px;
        margin-left: -15px;
    }
    .filtercard {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        height: 630px;
        width: 200px;
        border-radius: 5px;
        margin: auto;
        border: 1px solid black;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 10px;
        margin-left: 10px;      
        
    }
    .filtercard:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .card {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        height: 450px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 20px;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: 10px;
        flex-direction: row;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .image {
        background-color: rgba(226, 228, 227, 0.575);
        height: 230px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .card-info {
        background-color: white;
        text-align: center;
    }
    .card-header {
        background-color: white;
        margin-bottom: 25px;
        text-align: center;
    }
    .filter-name {
        background-color: white;
        font-size: 11px;
        text-align: start;
        font-weight: bolder;
        margin-top:-20px;
        margin-left: -15px;
        color: rgb(68, 68, 175);
    }
    .mission-id-header{
        background-color: white;
        font-size: 10px;
        text-align: left;
        font-weight: bold;
   
    }
    .list-card-id{
        background-color: white;
    }
    .unordered-list-card-id{
        background-color: white;
    }
    .mission-ids-mainClass{
        background-color: white;
    }
    .mission-id{
        background-color: white;
        font-size: 10px;
        text-align: start;
        margin-top: -15px;       
    }
    .button-div{
        padding-left: 0rem;
        background-color: white;
        display: inline;
    }
    .launch-year-header{
        background-color: white;
        font-size: 10px;
        text-align: left;
        font-weight: bold;        
    }
    .launch-year-value{
        background-color: white;
        font-size: 10px;
        text-align: end;
        margin-top: auto;
    }
    .launch-success{
        background-color: white;
        font-size: 10px;
        text-align: left;
        font-weight: bold;
    }
    .land-success{
        background-color: white;
        font-size: 10px;
        text-align: left;
        font-weight: bold;
    }
    .home-page{
        align-content: center;
        font-family: cursive;
        font-size: 50px;
        text-align: center;
        background-color: lightcyan;
        margin-top: 50px;
        margin-left: 420px;
        /* background-color: white; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        height: 450px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 20px;
        margin-bottom: 500px;
        display: inline-flex;
        /* flex-direction: block; */
    }
    @media screen and (max-width: 1024px) {
        .home-page {
          width: 115%;
          margin-left: 35px;
          margin-right: 58px;
        }
      }
      @media screen and (max-width: 600px) {
        .home-page {
            /* display: inline-block; */
          width: 100%;
          margin-left: 35px;
          margin-right: 58px;
        }
      }
     

